# Enviroment and ports
APP_ENV=local
PORT=8082
# USE_AWS_SECRETS=true

# AWS
# AWS_REGION="sa-east-1"
BUCKET_NAME=twitter-uala
SECRET_NAME=twitter-uala
URL_PREFIX=twitteruala/

# BCRYPT & JWT
BCRYPT_COST=6
JWT_SIGN=Token-GENéricO-38294

# Database
DB_USERNAME= # Usuario de la base de datos 
DB_PASSWORD= # Contraseña de la base de datos
DB_HOST=twitteruala.7cixm.mongodb.net  # Host de la base de datos
DB_DATABASE=  # Nombre de la base de datos